.userBg{
    background-image: url('{% static "images/1.jpg" %}');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}


  
  .mt-100{
    margin-top: 200px;
  }
  .progress {
    width: 100px;
    height: 100px !important;
    float: left; 
    line-height: 120px;
    background: none;
    margin: 20px;
    box-shadow: none;
    position: relative;
  }
  .progress:after {
    content: " ";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }

 
  

.projectCard:hover{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}


.comtainer{
	background-color: #eef2f5;
	width: 400px;
}


.second{
	width: 350px;
	background-color: white;
	border-radius: 4px;
	box-shadow: 10px 10px 5px #aaaaaa;
}
.text1{
	font-size: 13px;
    font-weight: 500;
    color: #56575b;
}
.text2{
	font-size: 13px;
    font-weight: 500;
    margin-left: 6px;
    color: #56575b;
}
