{% extends "projects/base.html" %}
{% load static %}
{% load rest_framework %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'projects/project.css' %}">






        


       
    </div>
   
</div>




<div class="carousel-inner mb-5" role="listbox">
    <div class="carouselItem active image" style="background-image: url('{{project.projectImage.url}}')">
      <div class="carousel-caption d-none d-md-block">

<div class="row d-flex justify-content-center mt-100 ml-5">

    <div class="col-md-8 ml-5">
        <div class="progress yellow">
            <span class="progress-left">
                            <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                            <span class="progress-bar"></span>
            </span>
            <div class="progress-value">7%</div>
          </div>

        <div class="progress blue">
            <span class="progress-left">
                              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                              <span class="progress-bar"></span>
            </span>
            <div class="progress-value">1%</div>
          </div>
  
          
            <div class="progress yellow">
              <span class="progress-left">
                              <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                              <span class="progress-bar"></span>
              </span>
              <div class="progress-value">7%</div>
            </div>
        </div>
        </div>
          
      </div>
    </div>
    </div>





<div class="container mb-5 mt-5">
    <h3 class="display-4">{{project.projectName}}</h3>
    <p class="lead text-center">{{project.projectDescription}}</p>
    <p class="lead text-center">Rate Average</p>
    <p class="text-center" > <a href="{% url 'review' project.pk %}" style="text-decoration: none; color: #ee4723; font-size: 12px; font-weight: bold">Rate Project</a></p>



</div>
    <div class="container">
        <div class="row">
            <div class="col-8" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                votes
            </div>
            <div class="col-3 ml-5" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                <h4 class="text-center"> COMMENTS</h4>
                {% for review in reviews %}
                <ul>
                    <li style="list-style-type: none;">
                        {{review.comment}} <span class= "text-muted">{{review.user}}</span>
                    </li>
                </ul>
            {% endfor %}
            </div>
        </div>
    </div>



{% endblock content%}